<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" id="pageName" class="navbar-brand">
      FavGiphy&nbsp;
      <fa name="heart"></fa>
  </a>
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Discover Amazing Giphs!" 
        required [(ngModel)]="query" name="searchQuery"/>
    </div>
    <button type="submit" class="btn btn-outline-danger search-btn">
        Search
    </button>
  </form>
</nav>